/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
nav, #banner {
    width: 80%;
    margin: 0 auto;
}
.btn-primary {
    border-radius: 8px;
    color: #FFF;
    font-size: 1.25rem;
    background: #FF900E;
    padding: 12px 20px;
    cursor: pointer;
    border: 0;
}

/* header section */
header {
    background-color: #FFF4E7;
    padding: 10px 0 1.5rem 0;
}

/* navbar section */
nav {
    display: flex;
    padding: 7px 0;
    justify-content: space-between;
    align-items: center;
}
nav .logo {
    color: #131313;
    font-size: 30px;
    font-weight: 700;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
    padding: 0 12px;
}
nav ul li:first-child {
    padding-left: 0;
}
nav ul li:last-child {
    padding-right: 0;
}
nav ul li a {
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

/* banner section */
.banner-text {
    text-align: center;
    max-width: 70%;
    margin: 2rem auto;
}
.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.banner-text p {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 10px;
}
.banner-image img {
    width: 100%;
}