/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
nav {
    width: 80%;
    margin: 0 auto;
}

/* header section */
header {
    background-color: #FFF4E7;
}

/* navbar section */
nav {
    display: flex;
    padding: 7px 0;
    justify-content: space-between;
    align-items: center;
}
nav .logo {
    color: #131313;
    font-size: 30px;
    font-weight: 700;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
    padding: 0 12px;
}
nav ul li:first-child {
    padding-left: 0;
}
nav ul li:last-child {
    padding-right: 0;
}
nav ul li a {
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}